<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKOUT BUDDY FINDER</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header-section">
        <h1 class="app-top-bar">
            <span class="app-name">DTF</span>
            <img src="/assets/man-running-sprinting-silhouette-flat-260nw-305799401.webp"
                alt="Person running.">
        </h1>
        <nav>
            {{#if logged_in}}
            <a href="/posting">Profile</a> |
            <button class="no-button" id="logout">Sign Out</button>
            {{else}}
            <a href="/login">Sign In</a>
            {{/if}}
        </nav>
    </header>
    <main class="container">
        {{{ body }}}
    </main>
    <footer>
        <p>DTF TEAM SINCE 2024</p>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    <script src="/js/script.js"></script>
</body>

</html>