<section class="card landing-page">
<section class="card-header">
    <h2>Find Your Workout Buddy Today</h2>
</section>
<section class="landing-options">
    <a href="/signup" class="button landing-button" id="signup-btn">Sign Up</a>
    <a href="/signin" class="button landing-button" id="signin-btn">Sign In</a>
</section>
</section>