<section class="card">
<section class="card-header">
    <h2>Start Working Out with Complete Strangers</h2>
</section>
<section class="landing-options">
    <button class="button">
        Sign Up
    </button>
    <button class="button">
        Sign In
    </button>
</section>
</section>

<script src="../public/js/landingpage.js"></script>
