<section class="landingpage-card">
<section class="landingpage-card-header">
    <h2>Start Working Out with Complete Strangers</h2>
</section>
<section class="landingpage-signup-signin">
    <button class="button">
        Sign Up
    </button>
    <button class="button">
        Sign In
    </button>
</section>
</section>

<script src="../public/js/landingpage.js"></script>
