<section class="card profile-page">
<section class="card-header">
    <h2>Start Working Out with Complete Strangers</h2>
</section>
<section class="landing-options">
    <a href="/signup" class="button" id="signup-btn">Sign Up</a>
</section>
<section>
    <a href="/signin" class="button" id="signin-btn">Sign In</a>
</section>
</section>

<script src="../public/js/landingpage.js"></script>
