<script id="card-template" type="text/x-handlebars-template">
<section class="card">
    <section class="post">
        <img src="" alt="">
        <section class="post-info">
            <ul class="post-list">
                <li class="post-item" id="name">Name: {{}}</li>
                <li class="post-item" id="city">City: {{}}</li>
                <li class="post-item" id="gym">Gym: {{}}</li>
                <li class="post-item" id="workout">Workout: {{}}</li>
                <li class="post-item" id="email">Contact them: {{}}</li>
            </ul>
        </section>
    </section>
</section>
</script>