<section class="card">
<section class="card-header">
    <h2>Profile</h2>
</section>
<section class="profile">
    <section class="profile-info">
        <section class="profile-line">
            <input class="profile-field" type="text">
            <button class="edit-btn">Edit</button>
        </section>
        <section class="profile-line">
            <input class="profile-field" type="text">
            <button class="edit-btn">Edit</button>
        </section>
        <section class="profile-line">
            <input class="profile-field" type="text">
            <button class="edit-btn">Edit</button>
        </section>
        <section class="profile-line">
            <input class="profile-field" type="text">
            <button class="edit-btn">Edit</button>
        </section>
        <section class="profile-line">
            <input class="profile-field" type="text">
            <button class="edit-btn">Edit</button>
        </section>
        <section class="profile-line">
            <input class="profile-field" type="text">
            <button class="edit-btn">Edit</button>
        </section>
    </section>
    <button class="button">Delete Account</button>
</section>
</section>

<script src="../public/js/landingpage.js"></script>
