<div class="card signup-page">
    <section class="card-header">
        <h2>Let's get you sign up! </h2>
    </section>
    <section class="form">
        <h2>SIGN UP</h2>
        <input class="input-field" type="text" placeholder="Email">
        <input class="input-field" type="text" placeholder="Username">
        <input class="input-field" type="text" placeholder="Password">
        <button class="button">Sign Up!</button>
    </section>
</div>

<script src="../public/js/signup.js"></script>