<div class="card signup-page">
    <section class="card-header">
        <h2>Let's get you sign up! </h2>
    </section>
    <section class="form signup-form">
        <h2>SIGN UP</h2>
        <input class="input-field" id="email-signup" type="text" placeholder="Email">
        <input class="input-field" id="username-signup" type="text" placeholder="Username">
        <input class="input-field" id="password-signup" type="text" placeholder="Password">
        <button class="button signUpBtn">Sign Up!</button>
    </section>
</div>

<script src="/js/signup.js"></script>