<section class="card signin-page">
    <section class="card-header">
        <h2>Welcome Back! Let's Get You Signed In and Find Your Workout Buddy for the Day!</h2>
    </section>
    <section class="form signin-form">
        <h2>SIGN IN</h2>
        <input class="input-field" id="username-login" type="text" placeholder="Username">
        <input class="input-field" id="password-login" type="text" placeholder="Password">
        {{!-- <input class="input-field workout-login" type="text" placeholder="Workout for the Day"> --}}
        <button class="button signInBtn">Sign In</button>
    </section>
</section>

<script src="js/signin.js"></script>