<div class="signup-card">
    <section class="signup-card-header">
        <h2>Let's get you sign up! </h2>
    </section>
    <section class="signup-form">
        <h2>SIGN UP</h2>
        <input class="input-field" placeholder="Email">
        <input class="input-field" placeholder="Username">
        <input class="input-field" placeholder="Password">
        <button class="button">Sign Up!</button>
    </section>
</div>

<script src="../public/js/signup.js"></script>