<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WORKOUT BUDDY FINDER</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <h1>Welcome Back! Let's Get You Signed In and Find Your Workout Buddy for the Day!</h1>
    <section>
        <h2>SIGN IN</h2>
        <input placeholder="Username">
        <input placeholder="Password">
        <input placeholder="Workout for the Day">
        <button>Sign In</button>
    </section>

    <script src="../public/js/script.js"></script>
</body>
</html>