<section class="signin-card">
    <section class="signin-card-header">
        <h2>Welcome Back! Let's Get You Signed In and Find Your Workout Buddy for the Day!</h2>
    </section>
    <section class="signin-form">
        <h2>SIGN IN</h2>
        <input class="input-field" placeholder="Username">
        <input class="input-field" placeholder="Password">
        <input class="input-infield" placeholder="Workout for the Day">
        <button class="button">Sign In</button>
    </section>
</section>

<script src="../public/js/signin.js"></script>