<div class="signup-card">
    <h1>Let's get you sign up! </h1>
    <section>
        <h2>SIGN UP</h2>
        <input class="input-field" placeholder="Email">
        <input class="input-field" placeholder="Username">
        <input class="input-field" placeholder="Password">
        <button>Sign Up!</button>
    </section>
</div>