<div class="card">
    <section class="card-header">
        <h2>Tell Us a Little Bit About Yourself:</h2>
    </section>
    <section class="userinfo-form">
        <label for="gender-dropdown" id="gender-options">Gender:</label>
        <select name="gender-options" id="gender-options">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
            <option value="None">Prefer Not to Answer</option>
        </select>
        <input class="input-field" type="text" placeholder="Workout">
        <input class="input-field" type="text" placeholder="City">
        <input class="input-field" type="text" placeholder="Gym">
        <button class="button">Create Profile!</button>
    </section>
</div>
