<div class="card">
    <section class="card-header">
        <h2>Tell Us a Little Bit About Yourself:</h2>
    </section>
    <section class="userinfo-form">
        <div>
            <label for="gender-dropdown" id="gender-options">Gender:</label>
            <select name="gender-options" id="gender-options">
                <option value="" disabled selected>Select your option</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
                <option value="None">Prefer Not to Answer</option>
            </select>
        </div>
        <div>
            <label for="city-dropdown" id="city-options">City:</label>
            <select name="city-options" id="city-options">
                <option value="" disabled selected>Select a city</option>
                <option value="TORONTO">TORONTO</option>
                <option value="RICHMOND-HILL">RICHMOND HILL</option>
                <option value="MARKHAM">MARKHAM</option>
                <option value="SCARBOROUGH">SCARBOROUGH</option>
                <option value="BRAMPTON">BRAMPTON</option>
                <option value="AJAX">AJAX</option>
                <option value="OAKVILLE">OAKVILLE</option>
                <option value="MISSISSAUGA">MISSISSAUGA</option>
                <option value="BURLINGTON">BURLINGTON</option>
                <option value="MILTON">MILTON</option>
                <option value="CALEDON">CALEDON</option>
                <option value="HALTON-HILLS">HALTON HILLS</option>        
                <option value="NEWMARKET">NEWMARKET</option>
                <option value="OSHAWA">OSHAWA</option>
                <option value="YORK">YORK</option>       
                <option value="VAUGHAN">VAUGHAN</option>
            </select>
        </div>
        <div>
            <label for="gym-dropdown" id="gym-options">Gym:</label>
            <select name="gym-options" id="gym-options">
                <option value="" disabled selected>Select a gym</option>
                <option value="LA">LA FITNESS</option>
                <option value="GOODLIFE">GOODLIFE FITNESS</option>
                <option value="YMCA">YMCA</option>
                <option value="ORANGETHEORY">ORANGETHEORY FITNESS</option>
                <option value="BODY-VISION">BODY VISION FITNESS</option>
                <option value="UP-LIFE">UP & FIT FITNESS</option>
            </select>
        </div>
        <div>
            <label for="workout-dropdown" id="workout-options">Workout:</label>
            <select name="workout-options" id="workout-options">
                <option value="" disabled selected>Select a workout</option>
                <option value="Strength">Strength training</option>
                <option value="Aerobic">Aerobic exercise</option>
                <option value="Yoga">Yoga</option>
                <option value="High-intense">High-intensity training</option>
                <option value="Pilates">Pilates</option>
                <option value="Walking">Walking</option>
                <option value="Running">Running</option>
                <option value="Functional-strength">Functional strength training</option>
                <option value="Core">Core training</option>
                <option value="Cycling">Cycling</option>
                <option value="Cardio">Cardio</option>
                <option value="Weight-lift">Weight lifting</option>           
            </select>
        </div>

        <button class="button">Create Profile!</button>
    </section>
</div>