body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/assets/womanrunning2.png);
    background-repeat: no-repeat;
}

.header-section {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 30px hsl(0, 0%, 0%, 0.2);
    width: 100%;
}

.app-name {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-left: 2rem;
}

.main-image {
    width: 55px;
}

.nav-bar {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.main-buttons {
    border-style: none;
    color: black;
    text-decoration: none;
    font-size: 80%;
    margin: 0.5rem;
    background-color: white;
    padding: 0.3rem;
    font-weight: bolder;
    width: 80px;
    text-align: center;
    border-radius: 0.2rem;
    transition: 0.3s;
}

.main-buttons:hover {
    transition: 0.3s;
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 15%;
    cursor: pointer;
    font-size: 90%;
}

.main-buttons:active {
    transition: 0.3s;
    font-size: 85%;
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82.5vh;
}

.landing-page,
.signup-page,
.signin-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.80);
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.10);
    height: 50%;
    width: 30%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.userinfo-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.80);
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.10);
    height: 70%;
    width: 30%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.landing-options,
.signup-form,
.signin-form,
.userinfo-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    gap: 10px;
    margin-top: 2rem;
    width: 100%;
}

.landing-button,
.signUpBtn,
.signInBtn,
.userBtn {
    margin-top: 1rem;
    background-color: rgb(85, 85, 85);
    text-decoration: none;
    font-size: 130%;
    padding: 3%;
    color: white;
    border-radius: 3px;
    border-style: none;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17), inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    transition: 0.3s;
    width: 35%;
    cursor: pointer;
}

.landing-button:hover,
.signUpBtn:hover,
.signInBtn:hover,
.userBtn:hover {
    transition: 0.3s;
    background-color: rgb(61, 61, 61);
}

.landing-button:active,
.signUpBtn:active,
.signInBtn:active,
.userBtn:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(44, 44, 44, 0.5), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

.userinforForm-dropdown{
    margin-bottom: 1rem;
    font-size: 110%;
    padding: 0.5%;
    cursor: pointer;
    width: 250px;
    text-align: center;
}

.input-field {
    margin-bottom: 1rem;
    font-size: 110%;
    padding: 0.5%;
}

.posting-page {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.post{
    margin: 2rem;
    border-radius: 3px;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.80);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.10);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 20vh;
    width: 30vh;
}

.post-list {
    padding: 0;
}

.post-item {
    text-decoration: none;
    font-weight: bold;
    list-style: none;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
}

.post-item-name {
    text-decoration: none;
    font-weight: 800;
    list-style: none;
    text-align: left;
}















footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.70);
    padding: 0.025%;
}